<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-hover">
  <!-- div class="field" -->
  <tr>
    <td><%= form.label :name %></td>
    <td><%= form.text_field :name, id: :artist_name %></td>
  <!-- /div -->
  </tr>

  <tr>
  <!-- div class="field" -->
    <td><%= form.label :icon %></td>
    <td><%= form.text_field :icon, id: :artist_icon %></td>
  <!-- /div -->
  </tr>

  <tr>
    <td><%= form.label :website %></td>
    <td><%= form.text_field :website, id: :artist_website %></td>
  </tr>

  <tr>
    <td><%= form.label :genre %></td>
    <td><%= form.text_field :genre, id: :artist_genre %></td>
  </tr>
</table>

  <div class="actions" style="color: black;">
    <%= form.submit %>
  </div>

<% end %>
