<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @artist.icon %>
</p>

<p>
  <strong>Website:</strong>
  <%= @artist.website %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
