<p id="notice"><%= notice %></p>

<h1>Events</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Artist1</th>
          <th>Artist2</th>
          <th>Cover</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.date.strftime('%a %B %d %Y') %></td>
            <td><%= event.name %></td>
            <td><%= event.artist1 %></td>
            <td><%= event.artist2 %></td>
            <td><%= event.cover %></td>
            <td><%= link_to 'Show', event, class: 'btn btn-mini btn-success', style: 'border: 1px solid black;' %></td>
            <td><%= link_to 'Edit', edit_event_path(event), class: 'btn btn-mini btn-warning', style: 'border: 1px solid black;' %></td>
            <td><%= link_to 'Destroy', event, method: :delete, class: 'btn btn-mini btn-danger', style: 'border: 1px solid black;',data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>    

<br>

<%= link_to 'New Event', new_event_path %>
