<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Artist1:</strong>
  <%= @event.artist1 %>
</p>

<p>
  <strong>Artist2:</strong>
  <%= @event.artist2 %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @event.cover %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @event.photo %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
