<div class="banner">
    <p>
        <%= image_tag('logoShadow.png')%>
            <p class="bannerText" style="text-shadow: 0px 0px 10px #000000;">Showcasing Atlanta's Best Local Bands Since 1997</p>
</div>









    <div class="container" style="padding-top: 22px;">
        <div class="row">
            <% @events.each do |event| %>
                <div class="col-md-4 eventContainer" style="border-bottom: 1px solid #555;">
                    
                    <!-- h3 class="showDate"><%= event.date.strftime('%a %B %d').upcase %></h3 -->

                    <div class="stretch weekDay"><%= event.date.strftime('%A').upcase %></div> 
                    <div class="stretch monthDay"><%= event.date.strftime('%B %d').upcase %></div> 
                    
                    <p class="bandPhoto">
                        <%= image_tag('futurekings1.jpg', style: 'border: solid 1px #666;') %>
                    </p>

                    <div class="stretch bandTitle"><%= event.artist1.upcase %></div>
                    
                    <!-- p><%= event.cover || "Free Show" %></p -->

                    <div class="bandCover">
                        <% if event.cover == 0 %>
                            No Cover
                        <% else %>
                            $<%= event.cover %>
                        <% end %>   
                    </div>
                    <p style="text-align: center;"><a class="btn btn-secondary" href="#" role="button">Band Website &raquo;</a></p>
                 
                 </div> 
                    
            <% end %>
        </div>
    </div>      

<!-- script type="text/javascript">
                        
    $('.eventContainer').hide().delay(3000).fadeIn(800); 

</script --> 


    <!-- div class="container">
        <div class="row">
            <div class="col-md-4" style="border-bottom: 1px solid #555;">

                <h3 class="showDate">Thu May 22</h3>
                <p class="bandPhoto">
                    <%= image_tag('futurekings1.jpg', style: 'border: solid 1px #666;') %>
                </p>
                <div class="bandTitle">The Future Kings</div>
                <div class="bandCover">Free</div>
                <p style="text-align: center;"><a class="btn btn-secondary" href="#" role="button">Band Website &raquo;</a></p>

            </div>

            <div class="col-md-4" style="border-bottom: 1px solid #555;">
                <h3 class="showDate">Fri May 23</h3>
                <p class="bandPhoto">
                    <%= image_tag('kurt1.jpg', style: 'border: solid 1px #666;') %>
                </p>
                <div class="bandTitle">Kurt Thomas Band</div>
                <div class="bandCover">Free</div>
                <p style="text-align: center;"><a class="btn btn-secondary" href="#" role="button">Band Website  &raquo;</a></p>

            </div>

            <div class="col-md-4" style="border-bottom: 1px solid #555;">
                <h3 class="showDate">Sat May 24</h3>
                <p class="bandPhoto">
                    <%= image_tag('walt1.jpg', style: 'border: solid 1px #666;') %>
                </p>
                <div class="bandTitle" data-toggle="tooltip" title="Hooray!">Psycho DeVilles</div>
                <div class="bandCover">$5</div>
                <p style="text-align: center;"><a class="btn btn-secondary" href="#" role="button">Band Website  &raquo;</a></p>

            </div>
        </div>
    </div -->

    <br />

    <div class="container" style="background-color: #444; width: 100%;">
        <div class="row">
            <div class="col-md-8">

                <%= render 'googleMap' %>

                    <div class="col-md-4">
                        <h3>The Dixie Tavern</h3>
                        <div class="contactInfo">2349 Windy Hill Rd SE #130 <br /> Marietta, GA 30067 <br /> (770) 690-0090 <br /> dixietavernatlanta@gmail.com <br />
                            <div class="social">
                                <%= image_tag('socialBar.png', id: 'socialBar', usemap: '#socialBarMap', style: 'width: 270px; height: 91px;' ) %>
                            </div>
                        </div>
                        <map name="socialBarMap" id="socialBarMap">
              <area  alt="" title="Facebook" href="https://www.facebook.com/dixietavernatlanta/" shape="rect" coords="4,3,86,87" style="outline:none;" target="_self"     />
              <area  alt="" title="Twitter" href="https://twitter.com/DixieTavernATL" shape="rect" coords="92,2,176,86" style="outline:none;" target="_self"     />
              <area  alt="" title="Instagram" href="https://www.instagram.com/dixie_tavern_atlanta/" shape="rect" coords="184,2,266,91" style="outline:none;" target="_self"     />
            </map>
                    </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script -->
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
