<!DOCTYPE html>
<html>
  <head>
    <title>Dixie Tavern</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="main-page-content <%= controller.controller_name %>">

      <%= yield %>

    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
